  #fondoicono {
    background-color: #f4dfaf;
    border-color: #e3b04b;
  }
  
  #btn-e3b04b {
    background-color: #e3b04b;
    border-color: #e3b04b;
    color: white;
  }

  #btn-5c1e17 {
    background-color: #5c1e17;
    border-color: #5c1e17;
    color: white;
  }