#bot-edit {
  background-color: #e3b04b;
  border-color: #e3b04b;
  color: white;
    
  }

  #bot-elim {
    background-color: #5c1e17;
    border-color: #5c1e17;
    color: white;
   
  }

  #bot-cancel {
    background-color: #f4dfaf;
   
  }
